@import '../shared/vars.scss';
@import '../shared/util.scss';

.base {
	position: fixed;
	right: 15px;
	bottom: 15px;

	> div {
		font-family: $font;
		color: white;
		background-color: $blue0;
		padding: 5px 10px;
		border-radius: 4px;

		&:not(:first-of-type) {
			margin-top: 10px;
		}
	}
}
