@import '../shared/vars.scss';

.base {
	background-color: $black0;
	position: relative;
	width: 100%;
	height: 100%;

	> svg {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}
