html {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e; }
  html * {
    color: #ccc;
    font-family: Menlo, Monaco, Consolas, Droid Sans Mono, Courier New, monospace; }

body {
  margin: 0;
  width: 100%;
  height: 100%; }

nav {
  position: fixed;
  bottom: 0;
  right: 0; }
  nav ul {
    list-style: none;
    font-size: 12px; }
    nav ul li {
      float: left; }
      nav ul li a {
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 6px 16px;
        display: block;
        text-decoration: none; }
        nav ul li a:hover {
          cursor: pointer; }

.clear::after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both; }

.chain-default {
  background-color: #2a2d2e;
  outline: none;
  border: 1px solid transparent;
  padding: 6px 16px; }
  .chain-default:focus {
    border: 1px solid rgba(14, 99, 156, 0.6); }

.chain {
  width: 100%;
  height: 100%;
  -webkit-user-select: none; }
  .chain .new-block {
    width: 200px;
    background-color: #252526;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: right; }
    .chain .new-block * {
      font-size: 12px; }
    .chain .new-block select {
      width: 100%;
      margin-bottom: 10px; }
    .chain .new-block input[type="text"] {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 10px; }
    .chain .new-block button {
      border-radius: 4px; }
  .chain canvas {
    display: block;
    cursor: none; }

#chain-code {
  height: 100%; }
