doctype html
html
	head
		title Chain: A New Visual Programming Language to Build a Program Like JavaScript
		meta(name='viewport' content='width=device-width,initial-scale=1.0')
		meta(charset='utf-8')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		script(src='vendor.js')
	body
		main
		script(src='main.js')
