doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='index.css')
	body
		main.chain
			canvas#chain-canvas
			div#chain-code
			iframe#chain-window
			div.block-menu
				select
					option(value='function') Function Block
					option(value='value') Value Block
					option(value='property') Property Block
					option(value='operator') Operator Block
					option(value='view') View Block
					option(value='functionize') Functionize Block
				input(type='text')
				button.btn add
			div.rename-area
				input(type='text')
			ul.clear
				li
					a.btn(href='#chain-canvas') Chain
				li
					a.btn(href='#chain-code') Code
				li
					a.btn(href='#chain-window') Window
		script(src='index.js')