doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='index.css')
	body
		main.chain.clear
			div.col.left-col
				ul
					li.function(draggable='true')
						p Function Block
						input(type='text')
					li.value(draggable='true')
						p Value Block
						input(type='text')
					li.property(draggable='true')
						p Property Block
						input(type='text')
					li.operator(draggable='true')
						p Operator Block
					li.view(draggable='true')
						p View Block
			div.col.right-col
				canvas#chain-canvas
				div#chain-code
		nav
			ul.clear
				li
					a(href='#chain-canvas') Chain
				li
					a(href='#chain-code') Code
		script(src='index.js')