html,
body,
main {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;

	&.cursor-move {
		* {
			cursor: move;
		}
	}
}

:global .ReactCodeMirror {
	height: 100%;
}

:global .CodeMirror {
	height: 100%;
}
